{% extends 'base.html' %}
{% block content %}
<div class="float-right">
	<a class="text-info" href="https://github.com/Emmanuel-Aggrey/url_shortner" target="_blank" rel="noopener noreferrer">Github link</a>
</div>
<form method="post">

	{% csrf_token %}
	{{ form }}

	<input class="btn btn-primary btn-sm" type="submit" value="Shorten" />
</form> <br>

<div class="container">

	{% for link in link_list %}
	<ul>
		<li>id: {{link.id}}</li>
		<li>Shortended url: <a href="{{ link.short_url }}" target="_blank" rel="noopener noreferrer">{{ site_url }}{{ link.short_url }}</a></li> <br>
		<li>Original Link: <a href="{{ link.original_url }}" target="_blank" rel="noopener noreferrer">{{ link.original_url }}</a></li>

	</ul>
	{% endfor %}
	<hr class="bg-white">
	<div id="endpoint">
		<h3 class="text-white"><u>ENDPOINTS</u></h3>
		<div>
			<small>Retrieve shortened URL info by ID Endpoint</small> <br>
			<code>Get:</code> <small>https://shortner-url1.herokuapp.com/api/id/</small> <br>
			<hr class="bg-white">
			<small>Retrieve full URL by hash_id</small> <br>
			<code>Get:</code> <small>https://shortner-url1.herokuapp.com/api/hash_id/</small> <br>
			<hr class="bg-white">
			<small>Redirect Shortended to full URL</small> <br>
			<small>clicking on Shortended URL redirects to full url</small> <br>
			<small>Eg. <a style="color: rgb(167, 167, 197);"href="{{short_to_full.shortened_url}}">{{short_to_full.shortened_url}}</a> <br> redirects to <br>
				<a style="color: rgb(167, 167, 197);" href="{{short_to_full.original_url}}">{{short_to_full.original_url}}</a></small> <br>
			<hr class="bg-white">
		</div>
	</div>
	<style>
		small {
			font-size: large;
			color: white;
		}
	</style>
</div>
<script>
	url = document.getElementById('id_original_url').placeholder = 'enter the url'

</script>

{% endblock %}